.header {
  border-bottom: 1px solid var(--ine);
  padding: 0 max(16px, calc(50% - 400px));
}

.headerwrapper {
  max-width: 800;
  margin: 0 auto;
  padding: 28px 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 16;
}

.version {
  font-family: "DM Mono", monospace;
  font-size: 11;
  color: var(--lime);
  letter-spacing: 0.14em;
  font-weight: 500;
  margin-bottom: 6;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(44px, 8vw, 72px);
  letter-spacing: 0.03em;
  line-height: 0.9;
  color: var(--hi);
}

.done {
  color: var(--lime);
}

.progressdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6;
}

.progresspercent {
  font-family: "Bebas Neue", sans-serif;
  font-size: 48;
  line-height: 1;
  color: var(--hi);
}

.bar {
  font-size: 22;
  color: var(--mid);
}

/* add to task */
.metarow {
  display: "flex";
  gap: 8;
  flex-wrap: "wrap";
  align-items: "center";
}

.taskcategory {
  font-family: "'DM Mono',monospace";
  font-size: 11;
  color: var(--lo);
  margin-right: 4;
}

.taskdivider {
  width: 1;
  height: 20;
  background: var(--line);
  margin: 0 4px;
}

.badge {
  font-family: "DM Mono", monospace;
  font-size: 11px;
  padding: 5px 12px;
  border-radius: 20px;
  border: 1px solid var(--blue);
  background: var(--lo);
  color: var(--blue);
  cursor: pointer;
  transition: all 0.16s;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--line);
}

.selectbutton {
  width: 1;
  height: 28;
  background: var(--line);
  margin: 0 4px;
  align-self: center;
}

.divider {
  width: 1;
  height: 28;
  background: var(--line);
  margin: 0 4px;
  align-self: center;
}

.cleardone {
  font-family: "DM Mono", monospace;
  font-size: 11px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid var(--redDim);
  background: transparent;
  color: var(--red);
  cursor: pointer;
  transition: all 0.16s;
  white-space: nowrap;
}

.empty {
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  color: var(--lo);
  letter-spacing: 0.06em;
}

.emptymessage {
  font-family: "DM Mono", monospace;
  font-size: 12;
  color: var(--lo);
  margin-top: 8;
}
